# Weather Cleaning

In [1]:
# Start writing code here...# maths
import numpy as np
import pandas as pd

# others
import os
import re
import time
import datetime as datetime

In [2]:
#import weather data
weather = pd.read_csv('../data/weather.csv')

In [3]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [4]:
#check column names
weather.columns

Index(['Station', 'Date', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint',
       'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'CodeSum', 'Depth',
       'Water1', 'SnowFall', 'PrecipTotal', 'StnPressure', 'SeaLevel',
       'ResultSpeed', 'ResultDir', 'AvgSpeed'],
      dtype='object')

In [5]:
#check for null values
weather.isnull().sum()

Station        0
Date           0
Tmax           0
Tmin           0
Tavg           0
Depart         0
DewPoint       0
WetBulb        0
Heat           0
Cool           0
Sunrise        0
Sunset         0
CodeSum        0
Depth          0
Water1         0
SnowFall       0
PrecipTotal    0
StnPressure    0
SeaLevel       0
ResultSpeed    0
ResultDir      0
AvgSpeed       0
dtype: int64

In [6]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Station      2944 non-null   int64
 1   Date         2944 non-null   object
 2   Tmax         2944 non-null   int64
 3   Tmin         2944 non-null   int64
 4   Tavg         2944 non-null   object
 5   Depart       2944 non-null   object
 6   DewPoint     2944 non-null   int64
 7   WetBulb      2944 non-null   object
 8   Heat         2944 non-null   object
 9   Cool         2944 non-null   object
 10  Sunrise      2944 non-null   object
 11  Sunset       2944 non-null   object
 12  CodeSum      2944 non-null   object
 13  Depth        2944 non-null   object
 14  Water1       2944 non-null   object
 15  SnowFall     2944 non-null   object
 16  PrecipTotal  2944 non-null   object
 17  StnPressure  2944 non-null   object
 18  SeaLevel     2944 non-null   object
 19  ResultSpeed  2944 non-null   float64
 20  ResultDir    2944 non-null   int64
 21  AvgSpeed     2944 non-null   object
dtypes: float64(1), int64(5), object(16)
memory usage: 506.1+ KB

In [7]:
#define function to count T values
def count_t(value):
    if value == '  T':
        return 1
    else:
        return 0
#define function to count M values
def count_m(value):
    if value == 'M':
        return 1
    else:
        return 0
#define function to count - values
def count_dash(value):
    if value == '-':
        return 1
    else: 
        return 0

In [8]:
#define function to create df for counts of missing T,M,- values in columns
def missingvals_summary(df):
    cols = ['column','T','M','-']
    missingvals_summary = pd.DataFrame(columns = cols)
    count = 0

    for column in df.columns:

        if df[column].dtype == 'object':

            total_t = df[column].apply(count_t).sum()
            total_m = df[column].apply(count_m).sum()
            total_dash = df[column].apply(count_dash).sum()
            
            missingvals_summary.at[count,cols[0]] = column
            missingvals_summary.at[count,cols[1]] = total_t
            missingvals_summary.at[count,cols[2]] = total_m
            missingvals_summary.at[count,cols[3]] = total_dash
        
        count +=1
    
    return missingvals_summary

In [9]:
#define function to lowercase column headers
def lowercase_cols(columns):
    return [column.lower() for column in columns]

In [10]:
#lowercase columns headers for weather
weather.columns = lowercase_cols(weather.columns)

In [11]:
weather.head()

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,codesum,depth,water1,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [12]:
#convert date to datetime format
weather.date = pd.to_datetime(weather.date)

In [13]:
#create individual columns for day, month, year for weather
weather['year'] = weather['date'].dt.year
weather['month'] = weather['date'].dt.month
weather['day'] = weather['date'].dt.day

In [14]:
weather.head()

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,year,month,day
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,0.0,0.00,29.10,29.82,1.7,27,9.2,2007,5,1
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,M,0.00,29.18,29.82,2.7,25,9.6,2007,5,1
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,0.0,0.00,29.38,30.09,13.0,4,13.4,2007,5,2
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,M,0.00,29.44,30.08,13.3,2,13.4,2007,5,2
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,0.0,0.00,29.39,30.12,11.7,7,11.9,2007,5,3

In [15]:
#count all M, -, T in weather
missingvals_summary_df = missingvals_summary(weather)
missingvals_summary_df

         column    T     M     -
4          tavg    0    11     0
5        depart    0  1472     0
7       wetbulb    0     4     0
8          heat    0    11     0
9          cool    0    11     0
10      sunrise    0     0  1472
11       sunset    0     0  1472
12      codesum    0     0     0
13        depth    0  1472     0
14       water1    0  2944     0
15     snowfall   12  1472     0
16  preciptotal  318     2     0
17  stnpressure    0     4     0
18     sealevel    0     9     0
21     avgspeed    0     3     0

In [18]:
#drop columns for water1, depth, snowfall, codesum since most values are missing
weather.drop(columns = ['water1','snowfall','depth','codesum'], inplace = True)

In [19]:
#impute missing values for depart, sunset, sunrise
#station 2 does not collect these values but station 1 does
#values from station 1 can be used
i = 0
while i < weather.shape[0]:    
    weather.depart.iloc[i+1] = weather.depart.iloc[i]
    weather.sunrise.iloc[i+1] = weather.sunrise.iloc[i]
    weather.sunset.iloc[i+1] = weather.sunset.iloc[i]
    i += 2

/Users/allenlim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [21]:
#impute tavg values using tmax and tmin
def impute_tavg(row):
    if row['tavg'] == 'M':
        row['tavg'] = (row['tmax'] - row['tmin']) * 0.5
    return row

weather = weather.apply(impute_tavg, axis = 1)

In [22]:
#drop wetbulb values where value == 'M'
weather = weather[weather.wetbulb != 'M']

In [23]:
def impute_others(row):
    if row['heat'] == 'M':
        if row['tavg'] >= 65:
            row['heat'] = 0
            row['cool'] = row['tavg'] - 65
        else:
            row['heat'] = 65 - row['tavg']
            row['cool'] = 0
    if row['preciptotal'] == '  T':
        row['preciptotal'] = 0
    if row['preciptotal'] == 'M':
        row['preciptotal'] = weather[weather.preciptotal != 'M'][weather.preciptotal != '  T'].preciptotal.median()
    if row['stnpressure'] == 'M':
        row['stnpressure'] = weather[weather.stnpressure != 'M'].stnpressure.median()
    if row['sealevel'] == 'M':
        row['sealevel'] = weather[weather.sealevel != 'M'].sealevel.median()
    if row['avgspeed'] == 'M':
        row['avgspeed'] = weather[weather.avgspeed != 'M'].avgspeed.median()
    return row

In [24]:
weather = weather.apply(impute_others,axis = 1)

<ipython-input-23-9e42af94a168>:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  row['preciptotal'] = weather[weather.preciptotal != 'M'][weather.preciptotal != '  T'].preciptotal.median()

In [25]:
#count all M, -, T in weather
missingvals_summary_df = missingvals_summary(weather)
missingvals_summary_df

         column  T  M  -
4          tavg  0  0  0
5        depart  0  0  0
7       wetbulb  0  0  0
8          heat  0  0  0
9          cool  0  0  0
10      sunrise  0  0  0
11       sunset  0  0  0
12  preciptotal  0  0  0
13  stnpressure  0  0  0
14     sealevel  0  0  0
17     avgspeed  0  0  0

In [26]:
#convert sunrise to date time format
weather.sunrise = pd.to_datetime(weather.sunrise, format = '%H%M')

In [27]:
weather['sunrise']

0      1900-01-01 04:48:00
1      1900-01-01 04:48:00
2      1900-01-01 04:47:00
3      1900-01-01 04:47:00
4      1900-01-01 04:46:00
               ...
2939   1900-01-01 06:20:00
2940   1900-01-01 06:22:00
2941   1900-01-01 06:22:00
2942   1900-01-01 06:23:00
2943   1900-01-01 06:23:00
Name: sunrise, Length: 2940, dtype: datetime64[ns]

In [28]:
#define function to find corrupted values in sunset columns
def make_sshr (time):
    return time[:2]

def make_ssmin (time):
    return time[2:]

In [29]:
#create columns for sunset hour and sunset min
weather['sshr'] = weather.sunset.apply(make_sshr)
weather['ssmin'] = weather.sunset.apply(make_ssmin)

In [30]:
#define function to check for corrupted time data for sunset min and hour
def clean_min (df, col1, col2):
    """
    Input: DF, Col1(HR), Col2(Min)
    Output:DF, Col1 (Hr+1 if col2 = 60), Col2(Min = 00 if min was 60)
    """
    for i in df[df[col2]=='60'].index.to_list():
        df[col1][i] = str(int(df[col1][i])+ 1)
        df[col2][i] = '00'

In [31]:
#apply function to clean corrupted data
clean_min(weather, 'sshr', 'ssmin')

<ipython-input-30-b10c94b37ad8>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col1][i] = str(int(df[col1][i])+ 1)
<ipython-input-30-b10c94b37ad8>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col2][i] = '00'

In [32]:
#apply new cleaned data for sunset
weather.sunset = weather.sshr + weather.ssmin

In [34]:
#convert sunset to date time format
weather.sunset = pd.to_datetime(weather.sunset, format = '%H%M')

In [35]:
#create column for number of daylight mins
weather['daylightmins'] = weather.sunset - weather.sunrise

In [36]:
#calculate number of min 
weather['daylightmins'] = weather['daylightmins'].map(lambda x: x.total_seconds()/60)

In [37]:
#drop sshr and ssmin columns
weather.drop(columns = ['sshr', 'ssmin'], inplace = True)

In [38]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2940 entries, 0 to 2943
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station       2940 non-null   int64
 1   date          2940 non-null   datetime64[ns]
 2   tmax          2940 non-null   int64
 3   tmin          2940 non-null   int64
 4   tavg          2940 non-null   object
 5   depart        2940 non-null   object
 6   dewpoint      2940 non-null   int64
 7   wetbulb       2940 non-null   object
 8   heat          2940 non-null   object
 9   cool          2940 non-null   object
 10  sunrise       2940 non-null   datetime64[ns]
 11  sunset        2940 non-null   datetime64[ns]
 12  preciptotal   2940 non-null   object
 13  stnpressure   2940 non-null   object
 14  sealevel      2940 non-null   object
 15  resultspeed   2940 non-null   float64
 16  resultdir     2940 non-null   int64
 17  avgspeed      2940 non-null   object
 18  year          2940 non-null   int64
 19  month         2940 non-null   int64
 20  day           2940 non-null   int64
 21  daylightmins  2940 non-null   float64
dtypes: datetime64[ns](3), float64(2), int64(8), object(9)
memory usage: 608.3+ KB

In [39]:
#convert all numerical features to float
weather['tavg'] = weather['tavg'].astype(float)
weather['depart'] = weather['depart'].astype(float)
weather['wetbulb'] = weather['wetbulb'].astype(float)
weather['heat'] = weather['heat'].astype(float)
weather['cool'] = weather['cool'].astype(float)
weather['preciptotal'] = weather['preciptotal'].astype(float)
weather['stnpressure'] = weather['stnpressure'].astype(float)
weather['sealevel'] = weather['sealevel'].astype(float)
weather['resultspeed'] = weather['resultspeed'].astype(float)
weather['avgspeed'] = weather['avgspeed'].astype(float)

In [40]:
#create squared feature for each numerical feature
weather['tminsq'] = weather['tmin'] ** 2
weather['tmaxsq'] = weather['tmax'] ** 2
weather['tavgsq'] = weather['tavg'] ** 2
weather['departsq'] = weather['depart'] ** 2
weather['wetbulbsq'] = weather['wetbulb'] ** 2
weather['heatsq'] = weather['heat'] ** 2
weather['coolsq'] = weather['cool'] ** 2
weather['preciptotalsq'] = weather['preciptotal'] ** 2
weather['resultspeedsq'] = weather['resultspeed'] ** 2
weather['resultdirsq'] = weather['resultdir'] ** 2
weather['avgspeedsq'] = weather['avgspeed'] ** 2
weather['stnpressuresq'] = weather['stnpressure'] ** 2
weather['sealevelsq'] = weather['sealevel'] ** 2
weather['daylightminssq'] = weather['daylightmins'] ** 2

In [41]:
#create moving average features for 3 and 7 day cycles for numerical features
weather['tmin_sma_3'] = weather['tmin'].rolling(3,min_periods=1).mean()
weather['tmax_sma_3'] = weather['tmax'].rolling(3,min_periods=1).mean()
weather['tavg_sma_3'] = weather['tavg'].rolling(3,min_periods=1).mean()

weather['tmin_sma_7'] = weather['tmin'].rolling(7,min_periods=1).mean()
weather['tmax_sma_7'] = weather['tmax'].rolling(7,min_periods=1).mean()
weather['tavg_sma_7'] = weather['tavg'].rolling(7,min_periods=1).mean()

weather['daylightmin_sma_3'] = weather['daylightmins'].rolling(3,min_periods=1).mean()
weather['daylightmin_sma_7'] = weather['daylightmins'].rolling(7,min_periods=1).mean()

weather['avgspeed_sma_3'] = weather['avgspeed'].rolling(3,min_periods=1).mean()
weather['avgspeed_sma_7'] = weather['avgspeed'].rolling(7,min_periods=1).mean()

weather['resultspeed_sma_3'] = weather['resultspeed'].rolling(3,min_periods=1).mean()
weather['resultspeed_sma_7'] = weather['resultspeed'].rolling(7,min_periods=1).mean()

weather['stnpressure_sma_3'] = weather['stnpressure'].rolling(3,min_periods=1).mean()
weather['stnpressure_sma_7'] = weather['stnpressure'].rolling(7,min_periods=1).mean()

weather['heat_sma_3'] = weather['heat'].rolling(3,min_periods=1).mean()
weather['heat_sma_7'] = weather['heat'].rolling(7,min_periods=1).mean()

weather['cool_sma_3'] = weather['cool'].rolling(3,min_periods=1).mean()
weather['cool_sma_7'] = weather['cool'].rolling(7,min_periods=1).mean()

weather['wetbulb_sma_3'] = weather['wetbulb'].rolling(3,min_periods=1).mean()
weather['wetbulb_sma_7'] = weather['wetbulb'].rolling(7,min_periods=1).mean()

In [42]:
weather.head()

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,resultspeed_sma_3,resultspeed_sma_7,stnpressure_sma_3,stnpressure_sma_7,heat_sma_3,heat_sma_7,cool_sma_3,cool_sma_7,wetbulb_sma_3,wetbulb_sma_7
0,1,2007-05-01,83,50,67.0,14.0,51,56.0,0.0,2.0,...,1.700000,1.700,29.100000,29.100,0.000000,0.000000,2.000000,2.000000,56.000000,56.000000
1,2,2007-05-01,84,52,68.0,14.0,51,57.0,0.0,3.0,...,2.200000,2.200,29.140000,29.140,0.000000,0.000000,2.500000,2.500000,56.500000,56.500000
2,1,2007-05-02,59,42,51.0,-3.0,42,47.0,14.0,0.0,...,5.800000,5.800,29.220000,29.220,4.666667,4.666667,1.666667,1.666667,53.333333,53.333333
3,2,2007-05-02,60,43,52.0,-3.0,42,47.0,13.0,0.0,...,9.666667,7.675,29.333333,29.275,9.000000,6.750000,1.000000,1.250000,50.333333,51.750000
4,1,2007-05-03,66,46,56.0,2.0,40,48.0,9.0,0.0,...,12.666667,8.480,29.403333,29.298,12.000000,7.200000,0.000000,1.000000,47.333333,51.000000

In [43]:
# Split station 1 and station 2 data
stat1 = weather[weather['station']==1].copy()
stat2 = weather[weather['station']==2].copy()

In [44]:
#save data sets to csv files
weather.to_csv('../data/clean_weather.csv', index=False)
stat1.to_csv('../data/clean_stat1.csv', index=False)
stat2.to_csv('../data/clean_stat2.csv', index=False)